﻿@{
    ViewData["Title"] = "About us";
}
<h2>@ViewData["Title"]</h2>


<div class="col-md-3">
    <h2>Amarishwer Edam</h2>
    <p>
        Phone: 660.853.1497
    </p>
</div>
<div class="col-md-3">
    <h2>Hemanth sai kishore Nersu</h2>
    <p>
        Phone: 660.528.0191
    </p>
</div>
<div class="col-md-3">
    <h2>Sai Prakash Mekonda</h2>
    <p>
        Phone: 660.528.0910
    </p>
</div>
<div class="col-md-3">
    <h2>Bharadwaj Ambati</h2>
    <p>
        Phone: 660.528.0799
    </p>
</div>

