﻿@{
    ViewData["Title"] = "Contact us at";
}
<h2>@ViewData["Title"]</h2>


<address>
    1115 N college Dr, APT #101<br />
    Maryville, MO 64468<br />
    <abbr title="Phone">P:</abbr>
    660.853.1497
</address>

<address>
    <strong>Support:</strong> <a href="mailto:s528121@nwmissouri.edu">s528121@nwmissouri.edu</a><br />
    
</address>