﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>MyMSACS</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to MYMSACS</h2>
        <p>
            MyMSACS is a sample application that
            demonstrates how to design course structure for a student
        </p>
    </div>
    
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://bitbucket.org/s528151/mymsacs1">See project source code &raquo;</a></p>
    </div>
</div>