﻿@model MyMSACS.Models.StudentDegreePlan

@{
    ViewData["Title"] = "Edit";
}



<head>
    <title></title>
</head>

<body>
    <!-- Start your code here -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />



    <div class="container">
        <center><h1>MSACS</h1></center>

        <!-- <div id="display">Display</div> -->
        <div class="row">
            <div class="col-md-4">
                <div id="drag-elements">
                    <div>DataBase Systems</div>
                    <div>Object Oriented Programming</div>
                    <div>Network Security</div>
                    <div>Advance Topics in Database Systems</div>
                    <div>Developing Web Application and Services</div>
                    <div>Project Management in Bussiness and Technology</div>
                    <div>Information Technology Management</div>
                    <div>Mobile Computing iOS/Android</div>
                    <div>Human Computer Interaction</div>
                    <div>GDP I</div>
                    <div>GDP II</div>
                    <div>Elective</div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="drop-target" id="drop-target1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="drop-target" id="drop-target2">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="drop-target" id="drop-target3">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="drop-target" id="drop-target4">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @*Implementation of dragula*@
        <!-- End your code here -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>
        <script src="site.js">

        </script>
    </div>

</body>
</html>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
